// Proportions
$info-cell-w: 40px;
$header-h: 34px;
$toolbar-h: 40px;
$formula-h: 24px;
$table-row-h: 24px;
$cell-w: 120px;
$dashboard-header-h: 64px;

// Fonts
$default-font-size: 13px;
$medium-font-size: 18px;

// Colors
$border-color: #c0c0c0;

// Primary colors
$light: #f8f9fa;
$blue: #4379ff;
$red: #fc4f4f;
$black: #161616;
$dark-gray: #4e4e4e;
$middle-gray: #9E9E9E;
$gray: #BDBDBD;
$light-gray: #dadce0;
$green: #1c7e1c;



$border: 1px solid $border-color;
$item-border: 1px solid #dadce0;
